* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgb(73, 73, 73); */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: url("../assets/images/background.jpg"); */
    /* color: rgb(0, 0, 0); */
    
}

body {
    background-image: url("../src/assets/img/tablet background.jpg");
    background-size:cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    /* background-position: center;  */
}
