.SearchForm {
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;    
}


.SearchFormContent {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100%;
    border: 1px solid rgb(68, 138, 245);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}